.pie-pagina {
    max-width: 100%;
    border-top: 2px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.pie-pagina>small {
    font-size: 1rem;
    text-align: center;
}