.pie-pagina {
    min-width: 100%;
    border-top: 2px solid var(--border);
    display: grid;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--background);
}

.pie-pagina>small {
    font-size: 1rem;
    text-align: center;
}