@import url(globals.css);

.cabecera {
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 5px 15px;
    min-height: 100px;
    background-color: var(--background);
    box-shadow: var(--shadow-sm);
}

.cabecera>h1 {color: var(--text-primary);}

.fijar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.secciones {
    grid-column: 2 / 5;
    display: flex;
    justify-content: space-around;
}

.seccion {
    text-decoration: none;
    font-size: 1rem;
    transition: all ease-out;
}

.seccion:hover {
    color: var(--text-primary);
    transform: scale(1.07);
}