.presentacion {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.paradise-fondo {
    background-image: url('../../media/img/fondo_paradise_dark.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    transition: var(--transition-normal);
}

.oscurecer {
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.534);
    border: 1px solid rgba(0, 0, 0, 0); 
    transition: var(--transition-normal);  
}

.presentacion>h1 {font-size: 40px;}

.presentacion>h2 {
    font-size: 75px;
    font-weight: bold;
}

.presentacion h1, h2 {color: var(--text-primary);}
.end>h2 {font-size: 30px;}

.div-presentacion {
    display: grid;
    padding: 20px 30px;
    gap: 15px;
    /*dividir en 5 columnas*/
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.curriculum {max-width: 300px;}

.curriculum>h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.sobre-mi {
    display: grid;
    justify-content: space-between;
    align-items: start;
    /*el texto de presentación ocupará gran parte de las cuadriculas*/
    grid-column: 1 / 5;
    padding: var(--spacing-general);
}

.datos-pre {
    display: grid;
    gap: 5px;
}

.datos-pre>h1 {font-size: 2.5rem; margin-bottom: 15px;}
.datos-pre>p {font-size: 1.5rem;}

.imagen-port {
    
    grid-column: 5 / 6;
    max-width: 350px;
    border-radius: var(--border-radius-full);
    box-shadow: var(--shadow-xl);
}

#portfolio-tit {font-size: 75px;}
.container-img {width: 100%;}

.redes {
    display: flex;
    gap: 15px;
}
